<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Organiser Scan Report</title>
    <link href="C:\Users\jelen\Documents\Howest - DAE\second_year_part_2\portfolio\exam_project\B_DirectoryOrganiser\content\report_style.css" rel="stylesheet">
</head>
<body>
    <h1 class="title">
        Directory Organiser - Scan Report</h1>

    <div class="subtitlerow">
        <h3 class=subtitle style="text-align: left">{{mode}}</h3>
        <h3>&#x2022;</h3>
        <h3 class=subtitle style="text-align: center">Scanned on {{date_time}}</h3>
        <h3>&#x2022;</h3>
        <h3 class=subtitle style="text-align: right">{{config}}</h3>
    </div>

    <div class="row">
        <div class="column">
            <div class="topcard">
                <p style="color: var(--light-blue)">Files scanned</p>
                <p style="font-size: 30px; color: var(--light-blue)">{{stats.files_scanned}}</p>
            </div>
        </div>

        <div class="column">
            <div class="topcard">
                <p style="color: var(--light-red)">Issues found</p>
                <p style="font-size: 30px; color: var(--light-red)">{{stats.problems_found}}</p>
            </div>
        </div>

        <div class="column">
            <div class="topcard">
                <p style="color: var(--light-green)">Issues solved</p>
                <p style="font-size: 30px; color: var(--light-green)">{{stats.issues_solved}}</p>
            </div>
        </div>

        <div class="column">
            <div class="topcard">
                <p>Pass rate</p>
                <p style="font-size: 30px">{{pass_rate}}%</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card">
            <p class="cardheader">Issues by type</p>
            {% set max_issue_count = issues | groupby("issue") | map(attribute=1) | map("list") | map("length") | max %}

            {% set type_colors = {} %}
            {% for type, group in issues | groupby("issue") %}
                {% set _ = type_colors.update({type: loop.index0}) %}
            {% endfor %}

            {% for type, group in issues | groupby("issue") %}
                <p style="color: var(--issue-color-{{ loop.index0 }})">{{ type }} ({{ group | length }})</p>
                <div class="bar-bg">
                <div class="bar-fill" style="--w:{{ (group | length / max_issue_count * 100) | int }}%; --bar-color: var(--issue-color-{{ loop.index0 }})"></div>
                </div>
            {% endfor %}
        </div>
        <div class="card">
            <p class="cardheader">Issues by folder</p>
            {% set max_folder_count = issues | groupby("folder") | map(attribute=1) | map("list") | map("length") | max %}
            {% for folder, group in issues | groupby("folder") %}
                <p>{{ folder }} ({{ group | length }})</p>
                <div class="bar-bg">
                <div class="bar-fill" style="--w:{{ (group | length / max_folder_count * 100) | int }}%; --bar-color: var(--issue-color-{{ loop.index0 }})"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tablecard">
        <table class="table">
            <tr class="tableheader">
                <th style="width: 30%">File</th>
                <th style="width: 20%">Issue</th>
                <th style="width: 50%">Info</th>
            </tr>
                {% for issue in issues %}
                <tr class="tablerow">
                    <td style="font-family: Consolas">{{issue.filename}}</td>
                    <td style="color: var(--issue-color-{{ type_colors[issue.issue] }})">{{ issue.issue }}</td>
                    <td>{{issue.info}}</td>
                </tr>
                {% endfor %}
    </table>
    </div>

</body>
</html>